/* Banner - Blog Home */

.blog-banner {
  a, span, .post-meta {
      color: $color-light;
  }
  a:hover,
  a:active,
  a:focus,
  .card:hover a {
    color: $color-withe !important;
  }

  .card {
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 0;
    @include trans-box-scale;
  }

  .post-link-full {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      color: transparent;
      text-indent: -10000px;
      z-index: 2;
  }

  .post-title h2 {
    font-size: 24px;
    line-height: 1.5;
    margin: 0;

    a {
      display: block;
      padding: 15px;
    }
  }

  .post-thumb {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-color: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5));
  }

  .post-meta {
    a {
      padding: 0 5px 15px 15px;
      display: inline-block;
      position: relative;
      z-index: 4;

      &:hover {
        text-decoration: underline !important;
      }
    }
    span {
      padding: 0 15px 15px 5px;
      display: inline-block;
      i,span {
        margin-right: 5px;
      }
    }
  }

  .lazy-thumb {
    padding-bottom: 0;
  }

  .post-holder {
    padding-top: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 100%);
  }
}

.blog-banner .gutter-left {
  padding-right: 5px;
  position: relative;

  .post-thumb {
    height: 420px;
  }
}

.blog-banner .gutter-right {
  padding-left: 5px;

  .post-title h2 {
    font-size: 16px;
  }

  .post-thumb {
    height: 205px;
  }

  .right-content-holder {
    .custom-row .col {

      &:nth-child(2) {
        padding-right: 5px;
      }

      &:nth-child(3) {
        padding-left: 5px;
      }

      &:first-child, &:nth-child(2) {
        margin-bottom: 10px;
      }

      &:first-child, &:nth-child(3) {
        // width: 50%;
        padding-right: 5px;
      }

      &:nth-child(2), &:nth-child(4) {
        padding-right: 15px;
        padding-left: 5px;
      }

      &:nth-child(3), &:nth-child(4) {
        margin-bottom: 0px;
      }

      &:nth-child(3) {
        padding-left: 15px;
      }
    }
  }
}

.blog-banner .owl-nav {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
  -webkit-transform: none;
  transform: none;
}

.blog-banner-carousel-1 {
  .owl-nav {
    .owl-prev, .owl-next {
      position: relative;
      display: inline-block;
      line-height: 35px;
      width: 35px;
      height: 35px;
      border-radius: 0;
      margin: 0 2px;

      /* background: #ff3d00; */
      text-align: center;
      outline: none;
      -webkit-transition: all .7s ease;
      transition: all .7s ease;
      color: #fff;
    }

    .owl-prev i, .owl-next i {
      font-size: 18px;
      line-height: 35px;
    }
  }

  &.owl-rtl .owl-nav {
    .owl-prev i:before {
      content: "\f105";
    }

    .owl-next i:before {
      content: "\f104";
    }
  }
}

.blog-banner-1 .gutter-right .meta ul li {
  &.comments, &.post_author {
    display: none;
  }
}

@media (max-width: 992px) {
  .blog-banner-1 {
    .gutter-left {
      .post-thumb {
        margin-right: 10px;
        margin-bottom: 10px;
        height: 450px;
      }

      .post-holder {

        .post-title h2 {
          font-size: 18px;
        }
      }
    }

    .gutter-right {
      .post-thumb {
        margin-left: 10px;
      }

      .post-holder {

        .post-title h2 {
          font-size: 16px;
        }
      }

      .right-content-holder .custom-row .col {
        &:nth-child(2) .post-thumb {
          margin-right: -5px;
          margin-bottom: 10px;
        }

        &:nth-child(3) .post-thumb {
          margin-left: 5px;
          margin-bottom: 0px;
        }
      }
    }

    .gutter-left {
      .card {
        margin-right: 10px;
      }

      .post-thumb {
        margin-bottom: 15px;
        margin-right: 0px;

        .post-holder .post-title h2 {
          font-size: 16px;
        }
      }
    }

    .gutter-right .right-content-holder .custom-row .col {
      &:first-child .post-thumb {
        margin-right: -5px;
        margin-bottom: 5px;

        .post-holder .post-title h2 {
          font-size: 16px;
        }
      }

      &:nth-child(2) .post-thumb {
        margin-left: 5px;
        margin-right: 0px;
        margin-bottom: 5px;

        .post-holder .post-title h2 {
          font-size: 16px;
        }
      }

      &:nth-child(3) .post-thumb {
        margin-right: -5px;
        margin-left: 10px;

        .post-holder .post-title h2 {
          font-size: 16px;
        }
      }

      &:nth-child(4) .post-thumb {
        margin-left: 5px;

        .post-holder .post-title h2 {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .blog-banner-1 {
    .gutter-left {
      .post-thumb {
        margin-right: 10px;
        margin-bottom: 10px;
        height: 300px;
      }

      .post-holder {

        .post-title h2 {
          font-size: 16px;
        }
      }
    }

    .gutter-right {
      .post-thumb {
        margin-left: 10px;
      }

      .post-holder {

        .post-title h2 {
          font-size: 16px;
        }
      }

      .right-content-holder .custom-row .col {
        &:nth-child(2) .post-thumb {
          margin-right: -5px;
          margin-bottom: 10px;
        }

        &:nth-child(3) .post-thumb {
          margin-left: 5px;
          margin-bottom: 0px;
        }
      }
    }

    .gutter-left {
      .card {
        margin-right: 10px;
      }

      .post-thumb {
        margin-bottom: 15px;
        margin-right: 0px;

        .post-holder .post-title h2 {
          font-size: 18px;
        }
      }
    }

    .gutter-right .right-content-holder .custom-row .col {
      .post-holder .post-title h2 {
        font-size: 16px;
      }

      &:first-child .post-thumb {
        margin-right: 10px;
        margin-bottom: 5px;
      }

      &:nth-child(2) .post-thumb {
        margin-left: 20px;
        margin-right: 0px;
        margin-bottom: 5px;
      }

      &:nth-child(3) .post-thumb {
        margin-right: 10px;
        margin-left: 10px;
      }

      &:nth-child(4) .post-thumb {
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  .blog-banner-1 {
    .gutter-left {
      .card {
        margin-right: 10px;
      }

      .post-thumb {
        margin-bottom: 15px;
        margin-right: 0px;

        .post-holder .post-title h2 {
          font-size: 16px;
        }
      }
    }

    .gutter-right {
      .right-content-holder .custom-row .col {
        &:first-child {
          padding-right: 15px;

          .post-thumb {
            margin-right: -5px;
            margin-bottom: 5px;

            .post-holder .post-title h2 {
              font-size: 16px;
            }
          }
        }

        &:nth-child(2) {
          padding-left: 20px;

          .post-thumb {
            margin-left: 5px;
            margin-right: 0px;
            margin-bottom: 5px;

            .post-holder .post-title h2 {
              font-size: 16px;
            }
          }
        }

        &:nth-child(3) {
          padding-right: 15px;

          .post-thumb {
            margin-right: -5px;
            margin-left: 10px;
            margin-bottom: 15px;

            .post-holder .post-title h2 {
              font-size: 16px;
            }
          }
        }

        &:nth-child(4) {
          padding-left: 20px;

          .post-thumb {
            margin-left: 5px;

            .post-holder .post-title h2 {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

/* END Banner - Blog Home */
