.blog-box {
  border-radius: 3px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;

  @include trans-box-scale;

  &:hover {
    .blog-box__content-title a {
      color: $color-withe;
    }
  }

  .blog-box__image {
    a {
      display: block;
      position: relative;

      &:after {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5));
      }
    }

    img {
      width: 100%
    }
  }

  .blog-box__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    & * {
      color: $color-light;
    }
    & a:hover {
      // text-decoration: underline !important;
      color: $color-withe !important;
    }
  }

  .blog-box__content-title {
    margin: 0;
  }

  .blog-box__content-title a{
    display: inline-block;
    padding: 15px;
    line-height: 1.5;
  }

  .blog-box__content-meta {
    a {
      padding: 5px 5px 15px 15px;
      display: inline-block;
      &:hover {
        text-decoration: underline !important;
      }
    }
    span {
      padding: 5px 15px 15px 5px;
      display: inline-block;
      i,span {
        margin-right: 5px;
      }
    }
  }

}
