/*! colors */
/*
  default color was: F1773D
  default hover color was: cb5720

  -- next change from - ed1748 to c10d0d


*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    border-color: transparent;
}

.nav .open > a:after,
.nav .open > a:hover:after,
.nav .open > a:focus:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after,
.navbar-nav > li > a:focus:after,
.navbar-nav > li > a:hover:after {
    border-top-color: #c10d0d;
}

.btn-border,
.boxes h5 a,
.block .sign p,
a:hover,
a:hover p,
a:hover h1,a:hover h2,a:hover h3,a:hover h4,a:hover h5,
.visual .info i,
a:focus,
a.active,
.infos a:hover,
.check li:before,
.navbar-default .navbar-nav li:hover a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.search-toggle.active,.search-toggle:hover,
.mobile-search-toggle.active,
.navbar-toggle i.close,
.header-lang-btn:hover,
.post-micro .posttype,
.back-to-top-btn:hover,
.services-list .item .item-image:hover .item-icon i {
    color: #c10d0d !important;
}

.btn-svg-icon svg {
  fill: #c10d0d !important;
}
.btn-svg-icon:hover svg {
  fill: #fff !important;
}

.navbar-right .lastlink a:hover i {
    border-right-color: #c10d0d;
}

.footer .form-control:focus,
.quoteform .form-control:focus {
    border-color: #c10d0d !important;
}

.btn-border,
.pager li > a:hover,
.pager li > span:hover,
.portfolio-filter .btn-default:hover,
.service-content hr,
.section-title hr {
    border-color: #c10d0d;
}
.service-content hr,
.section-title hr {
    background-color: #c10d0d;
}

.pricing-box-05 {
    border-top-color: #c10d0d !important;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #c10d0d !important;
}

.tags a:hover,
.btn-primary,
.btn-border:hover,
.pricing-box-06.featured,
.owl-theme .owl-nav [class*='owl-']:hover,
.navbar-right .lastlink .btn,
.blog-banner-carousel-1 .owl-nav .owl-prev,
.blog-banner-carousel-1 .owl-nav .owl-next,
.seo-studio.owl-theme .owl-nav [class*="owl-"]  {
    border-color: #c10d0d!important;
    background-color: #c10d0d!important;
    color: #ffffff !important;
}

.magnibutton i,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > span.current,
.pagination .current button,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary .badge,
.post-micro .posttype:hover {
    color: #ffffff !important;
    background-color: #fd003a;
    border-color: #fd003a;
}

.btn.btn-border.border-white {
  color: #fff !important;
  border-color: #fff !important;

  svg {
      fill: #fff !important;
  }

  &:hover {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;

    svg {
      fill: #000 !important;
    }

  }
}
.color13 .btn-border.border-white:hover {
  color: #1FB0C7 !important;
  svg {
    fill: #1FB0C7 !important;
  }
}

.btn.btn-border.border-light {
  color: #eee !important;
  border-color: #eee !important;
}

.text-light{
  h1,h2,h3 {
    color: #fff;
  }
  .section-title h5,
  h4,h5,h6,
  p {
    color: #eee;
  }
  a.btn-link {
    color: #fff;
  }
}

.text-white * {
  color: #fff !important;
}

.hr-gray {
  background-color: #c7c7c7 !important;
  border-color: #c7c7c7 !important;
}

.hr-white {
  background-color: #fff !important;
  border-color: #fff !important;
}

.bg-main {
    background-color: #ff0022!important;
}

.color-main {
  color: #ff0022!important;
}

.bg-main2 {
    background-color: #c10d0d!important;
}

.color-main2 {
  color: #c10d0d!important;
}

.bg-grd-1 {
  background: linear-gradient(114deg,#ff003a,#c10d0d);
  background-size: 100% 100%;
  // background: linear-gradient(114deg,#c10d0d,#c10d0d,#ffd600,#ffd600,#008abb,#008abb,#c10d0d,#ffd600,#ffd600,#008abb);
}

.bg-grd-2 {
  background: linear-gradient(-114deg, #c10d47, #c10d0d);
  background-size: 100% 100%;
}

.bg-white {
  background-color: #fff !important;
}

.bg-white-transparent {
  background-color: rgba(255,255,255,0.5) !important;
}

.bg-black-transparent {
  background-color: rgba(0,0,0,0.5) !important;
}

.header-lang-btn:hover,
.search-toggle:hover,
.search-toggle.active,.mobile-search-toggle.active,
.header-search .search-form,
.navbar-toggle,.navbar-toggle:hover,.navbar-toggle:active,.navbar-toggle:focus,
.bg-light-gray,
.customsearchform .form-control {
  background-color: #f5f6fa!important;
}

.bg-dark-gray {
  background-color: #333!important;
}

.bg-dark-gray h1,
.bg-dark-gray h2,
.bg-dark-gray h3,
.bg-dark-gray p,
.bg-dark-gray span {
  color: #fff;
}

.section.lb,
.post-micro .posttype {
    /* background-color: #F8F9FB; */
    background-color: #ececec;
}

.section.db {
    background-color: #00233F;
}

.bg-light-blue {
  background-color: #f1f5f6!important;
}

.bg-highlight{
    position: relative;

    & > div {
      position: relative;
    }
}

.bg-highlight:before {
  content: ' ';
  display: table;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.6);
}

.bg-highlight.bg-highlight-lightblack:before {
  background-color: rgba(0,0,0,0.4);
}

.bg-highlight.bg-highlight-main:before {
  background-color: rgba(255,0,34,0.8);
}

.bg-highlight.bg-highlight-white:before {
  background-color: rgba(255,255,255,0.6);
}

@media (max-width: 768px) {
    .header-search {
        background-color: #f5f6fa!important;
    }
}

$color-whatsapp: #25d366;
.btn-svg-icon.btn-whatsapp {
  border-color: $color-whatsapp !important;
  color: $color-whatsapp !important;

  svg {
    fill: $color-whatsapp !important;
  }

  &:hover {
    background-color: $color-whatsapp !important;
    color: #fff !important;

    svg {
      fill: #fff !important;
    }
  }
}
