.slider {
  background-color: $color-dark-blue;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-light;
}

.slider__image {
  @extend .col-md-5;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

  img {
    @extend .img-responsive;
    @extend .img-full;
    margin: 0;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.slider.float-image .slider__image img {
  width: auto;
  max-width: none;
}

.slider__content {
  @extend .col-md-7;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media (min-width: 992px) {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 60px;
    text-align: left;
    hr {
      margin-left: 0;
    }
  }

  hr {
    width: 60px;
    border: 1px solid $color-light;
    background-color: $color-light;
  }
}

.slider__content-icon {
  max-width: 80px;
  max-height: 80px;

  @media (max-width: 991px) {
      margin-right: auto;
      margin-left: auto;
  }

  img {
    max-width: 100%;
  }
}

.slider__content-subtitle {
  // @media (min-width: 768px) {
  //   font-size: 18px;
  // }
}
.slider__content-icon + .slider__content-subtitle {
  margin-top: 30px;
}

.slider__content-title {
  margin-top: 30px;

  h1 {
    color: $color-white;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.7;
    @media (min-width: 768px) {
      font-size: 30px;
    }
    @media (min-width: 1200px) {
      font-size: 32px;
    }
  }
}

.slider__content-text {
  margin-top: 30px;

  p {
    color: inherit;
    font-size: 18px;
    line-height: 2;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
}

.slider__content-buttons {
  margin: 30px 0 0 -15px;

  .btn {
    @extend .btn-border;
    @extend .border-white;
    margin: 15px 0 0 15px;

    &:hover {
      color: $color-dark-blue !important;
    }

    @media (min-width: 992px) {
      font-size: 16px;
      padding: 8px 15px;
    }
  }
}


// text-dark
.slider.text-dark {
  color: $color-dark;

  .slider__content hr {
    border-color: $color-dark;
    background-color: $color-dark;
  }

  .slider__content-title h1 {
    color: $color-darker;
  }

  .slider__content-buttons .btn {
    border-color: $color-dark !important;
    color: $color-dark !important;
    svg {
      fill: $color-dark !important;
    }

    &:hover {
      background-color: $color-dark !important;
      color: $color-light !important;
      svg {
        fill: $color-light !important;
      }
    }
  }

}
