@mixin trans-box-scale {
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
  &:hover {
    // transform: scale(1.05);
    // transform: scale(1.01);
    transform: translate(0,-3px) scale(1.005);
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
  }
}

@mixin trans-box-shadow {
  transition: box-shadow 0.15s ease-in-out;
  &:hover {
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
  }
}

@mixin text-shadow-1 {
  text-shadow: 0 2px 0 rgba(100,100,100,0.2);
}
