.owl-projects {
  @extend .text-center;

  .owl-stage-outer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -50px;
    margin-bottom: -50px;
    position: relative;
    z-index: $zindex-owl-stage;
  }

  .project-box {
    margin-bottom: 0;
  }
}

.owl-projects.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  margin-bottom: -30px;
}
.owl-projects.owl-theme .owl-dots .owl-dot.active span,
.owl-projects.owl-theme .owl-dots .owl-dot:hover span {
  background: $color-primary;
}

.owl-projects.owl-theme .owl-nav {
  position: relative;
  z-index: $zindex-owl-nav;
}

.owl-projects.owl-theme .owl-nav [class*="owl-"] {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 44px;
}

.owl-projects.owl-theme .owl-nav [class*="owl-"] {
  background: $color-primary;
}

.owl-projects.owl-theme .owl-nav [class*="owl-"]:hover,
.owl-projects.owl-theme .owl-nav [class*="owl-"]:focus {
  // background-color: #001A37;
}
.owl-projects.owl-theme .owl-nav .disabled {
  background-color: #a9a9a9 !important;
  cursor: not-allowed !important;
}
