.post-heading {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-darker;
  position: relative;
  overflow: hidden;
}

.bg-highlight.post-heading {
  color: $color-white;
}

.post-heading__row {
  @extend .row;
}

.post-heading__image {
  @extend .col-sm-5;
  @extend .col-md-6;

  img {
    @extend .img-responsive;
    @extend .img-full;
    border-radius: 0 0 3px 3px;
  }
}

.post-heading__content {
  @extend .col-sm-7;
  @extend .col-md-6;
  @extend .text-left;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: 992px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.bg-highlight .post-heading__content-subtitle {
  color: $color-light;
}

.post-heading__content-breadcrumb {
  @extend .h5;

  a, .breadcrumb_last {
    padding: 0 5px;
  }
}

.bg-highlight .post-heading__content-breadcrumb {
  color: $color-light;
  a {
    color: $color-light;
    &:hover {
      color: $color-white !important;
    }
  }
}

.post-heading__content-title {
  color: inherit;
  font-weight: bold;
  margin-top: 30px;
  line-height: 1.4;
}

.post-heading__content-desc {
  @extend .h3;
  color: inherit;
  margin-top: 30px;
  line-height: 1.9;
}
