$color-white: #fff;
$color-light: #e8e8e8;

$color-linkedin: #0e76a8 !important;
$color-twitter: #00acee !important;
$color-facebook: #3b5998 !important;
$color-whatsapp: #25D366 !important;
$color-telegram: #0088cc !important;
$color-gmail: #EA4335 !important;
