$color-primary: #c10d0d;
$color-white: #fff;
$color-light: #e8e8e8;
$color-lighteen: #f8f8f8;
$color-dark: #333;
$color-darker: #111;
$color-dark-blue: #002340;
$color-navy: #002340;
$color-cyan: #0ec8fb;

$color-footer-text: #b6b6b6;

$color-linkedin: #0e76a8 !important;
$color-twitter: #00acee !important;
$color-facebook: #3b5998 !important;
$color-whatsapp: #25D366 !important;
$color-telegram: #0088cc !important;
$color-gmail: #EA4335 !important;


// z-index
$zindex-owl-stage: 1;
$zindex-owl-nav: 2;
