/* Banner - Blog Home */

.blog-banner {
  .post_title h2 {
    font-size: 24px;
    margin: 15px 0px 0px;
    line-height: 1.2;

    a {
      color: #fff;

      &:hover {
        color: #FF3D00;
      }
    }
  }

  .post_meta li {
    a, span {
      color: #fff;
    }

    a:hover {
      color: #FF3D00;
    }
  }

  .lazy-thumb {
    padding-bottom: 0;
  }
}

.blog-banner-1 .post_thumb {
  position: relative;

  &:hover .mask {
    background: rgba(0, 0, 0, 0.6);
  }
}

.blog-banner.blog-banner-1 .card {
  margin-bottom: 0;
}

.blog-banner-1 {
  .gutter-left {
    padding-right: 5px;
    position: relative;

    .post_thumb {
      height: 420px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .post-holder {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.5)), to(#000));
      background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 100%);
    }
  }

  .gutter-right {
    padding-left: 5px;

    .post_title h2 {
      font-size: 16px;
    }

    .right-content-holder {
      .custom_row .col {
        .post-holder {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 20px;
          background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.5)), to(#000));
          background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 100%);
        }

        &:nth-child(2) .post-holder .post_title h2, &:nth-child(3) .post-holder .post_title h2 {
          margin-bottom: 5px;
        }

        &:nth-child(2) .post-holder .meta ul, &:nth-child(3) .post-holder .meta ul {
          margin-top: 0;
        }

        &:nth-child(2) {
          padding-right: 5px;
        }

        &:nth-child(3) {
          padding-left: 5px;
        }

        &:first-child .post_thumb, &:nth-child(2) .post_thumb, &:nth-child(3) .post_thumb, &:nth-child(4) .post_thumb {
          height: 205px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }

        &:first-child, &:nth-child(2) {
          margin-bottom: 10px;
        }

        &:first-child, &:nth-child(3) {
          width: 50%;
          padding-right: 5px;
        }

        &:nth-child(2), &:nth-child(4) {
          padding-right: 15px;
          padding-left: 5px;
        }

        &:nth-child(3), &:nth-child(4) {
          margin-bottom: 0px;
        }

        &:nth-child(3) {
          padding-left: 15px;
        }

        &:nth-child(4) .post-holder .post_title h2, &:first-child .post-holder .post_title h2 {
          margin-bottom: 5px;
        }

        &:nth-child(4) .post-holder .meta ul, &:first-child .post-holder .meta ul {
          margin-top: 0;
        }

        &:nth-child(2) .post-holder .entry_cats, &:nth-child(3) .post-holder .entry_cats {
          display: block;
        }
      }

      ul.post-categories li a {
        font-size: 11px;
        line-height: 1;
        padding: 3px 8px;
      }
    }
  }
}

.blog-banner .owl-nav {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
  -webkit-transform: none;
  transform: none;
}

.blog-banner-carousel-1 {
  .owl-nav {
    .owl-prev, .owl-next {
      position: relative;
      display: inline-block;
      line-height: 35px;
      width: 35px;
      height: 35px;
      border-radius: 0;
      margin: 0 2px;

      /* background: #ff3d00; */
      text-align: center;
      outline: none;
      -webkit-transition: all .7s ease;
      transition: all .7s ease;
      color: #fff;
    }

    .owl-prev i, .owl-next i {
      font-size: 18px;
      line-height: 35px;
    }
  }

  &.owl-rtl .owl-nav {
    .owl-prev i:before {
      content: "\f105";
    }

    .owl-next i:before {
      content: "\f104";
    }
  }
}

.blog-banner-1 .gutter-right .meta ul li {
  &.comments, &.post_author {
    display: none;
  }
}

@media (max-width: 992px) {
  .blog-banner-1 {
    .gutter-left {
      .post_thumb {
        margin-right: 10px;
        margin-bottom: 10px;
        height: 450px;
      }

      .post-holder {
        padding: 20px;

        .post_title h2 {
          font-size: 18px;
        }
      }
    }

    .gutter-right {
      .post_thumb {
        margin-left: 10px;
      }

      .post-holder {
        padding: 20px;

        .post_title h2 {
          font-size: 16px;
        }
      }

      .right-content-holder .custom_row .col {
        &:nth-child(2) .post_thumb {
          margin-right: -5px;
          margin-bottom: 10px;
        }

        &:nth-child(3) .post_thumb {
          margin-left: 5px;
          margin-bottom: 0px;
        }
      }
    }

    .gutter-left {
      .card {
        margin-right: 10px;
      }

      .post_thumb {
        margin-bottom: 15px;
        margin-right: 0px;

        .post-holder .post_title h2 {
          font-size: 16px;
        }
      }
    }

    .gutter-right .right-content-holder .custom_row .col {
      &:first-child .post_thumb {
        margin-right: -5px;
        margin-bottom: 5px;

        .post_holder .post_title h2 {
          font-size: 16px;
        }
      }

      &:nth-child(2) .post_thumb {
        margin-left: 5px;
        margin-right: 0px;
        margin-bottom: 5px;

        .post_holder .post_title h2 {
          font-size: 16px;
        }
      }

      &:nth-child(3) .post_thumb {
        margin-right: -5px;
        margin-left: 10px;

        .post_holder .post_title h2 {
          font-size: 16px;
        }
      }

      &:nth-child(4) .post_thumb {
        margin-left: 5px;

        .post_holder .post_title h2 {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .blog-banner-1 {
    .gutter-left {
      .post_thumb {
        margin-right: 10px;
        margin-bottom: 10px;
        height: 300px;
      }

      .post-holder {
        padding: 20px;

        .post_title h2 {
          font-size: 16px;
        }
      }
    }

    .gutter-right {
      .post_thumb {
        margin-left: 10px;
      }

      .post-holder {
        padding: 20px;

        .post_title h2 {
          font-size: 16px;
        }
      }

      .right-content-holder .custom_row .col {
        &:nth-child(2) .post_thumb {
          margin-right: -5px;
          margin-bottom: 10px;
        }

        &:nth-child(3) .post_thumb {
          margin-left: 5px;
          margin-bottom: 0px;
        }
      }
    }

    .gutter-left {
      .card {
        margin-right: 10px;
      }

      .post_thumb {
        margin-bottom: 15px;
        margin-right: 0px;

        .post-holder .post_title h2 {
          font-size: 18px;
        }
      }
    }

    .gutter-right .right-content-holder .custom_row .col {
      &:first-child .post_thumb {
        margin-right: -5px;
        margin-bottom: 5px;

        .post_holder .post_title h2 {
          font-size: 16px;
        }
      }

      &:nth-child(2) .post_thumb {
        margin-left: 5px;
        margin-right: 0px;
        margin-bottom: 5px;

        .post_holder .post_title h2 {
          font-size: 16px;
        }
      }

      &:nth-child(3) .post_thumb {
        margin-right: -5px;
        margin-left: 10px;

        .post_holder .post_title h2 {
          font-size: 16px;
        }
      }

      &:nth-child(4) .post_thumb {
        margin-left: 5px;

        .post_holder .post_title h2 {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .blog-banner-1 {
    .gutter-left {
      .card {
        margin-right: 10px;
      }

      .post_thumb {
        margin-bottom: 15px;
        margin-right: 0px;

        .post_holder .post_title h2 {
          font-size: 16px;
        }
      }
    }

    .gutter-right {
      .right-content-holder .custom_row .col {
        &:first-child {
          width: 100%;
          padding-right: 20px;

          .post_thumb {
            margin-right: -5px;
            margin-bottom: 5px;

            .post_holder .post_title h2 {
              font-size: 16px;
            }
          }
        }

        &:nth-child(2) {
          width: 100%;
          padding-left: 20px;

          .post_thumb {
            margin-left: 5px;
            margin-right: 0px;
            margin-bottom: 5px;

            .post_holder .post_title h2 {
              font-size: 16px;
            }
          }
        }

        &:nth-child(3) {
          width: 100%;
          padding-right: 20px;

          .post_thumb {
            margin-right: -5px;
            margin-left: 10px;
            margin-bottom: 15px;

            .post_holder .post_title h2 {
              font-size: 16px;
            }
          }
        }

        &:nth-child(4) {
          width: 100%;
          padding-left: 20px;

          .post_thumb {
            margin-left: 5px;

            .post_holder .post_title h2 {
              font-size: 16px;
            }
          }
        }
      }

      .meta ul li {
        &.comments, &.post_author {
          display: inline-block;
        }
      }
    }
  }
}

/* END Banner - Blog Home */
